@model MeowPlanet.ViewModels.LoginModel

@{
    ViewData["Title"] = "登入";
}

@section Styles{
    <link href="~/css/loginpage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
}

    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <section class="loginsection">
        <div class="container d-flex justify-content-center">
            <div class="row w-75" style="animation: FadeInUp 1s ease;" id="row1">

                <div class="col-6 bg-img">
                </div>
                <div class="col-6 loginform">
                    <form id="account" method="post" asp-action="Login">
                        <div class="text-center">
                            <h2>登入喵星球</h2>
                        </div>
                        <div class="enter-form">

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="form-p">Email</p>
                            </div>

                            <div class="d-flex align-items-center">
                                <input type="email" asp-for="Email" class="form-control login-sp" aria-required="true" id="email" />
                            </div>

                            <div class="d-flex justify-content-start align-items-center err-msg-div">
                                <span asp-validation-for="Email" class="text-danger" id="email-err"></span>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="form-p">密碼</p>
                            </div>


                            <div class="d-flex align-items-center">
                                <input type="password" asp-for="Password" class="form-control login-sp" aria-required="true" id="password" />
                            </div>

                            <div class="d-flex justify-content-start align-items-center err-msg-div">
                                <span asp-validation-for="Password" class="text-danger" id="password-err"></span>
                            </div>

                            <div class="form-check form-switch cbox my-3">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked name="rememberme" value="true">
                                <label class="form-check-label" for="flexSwitchCheckChecked">記住我</label>
                                <a id="forgot-password" asp-controller="Login" asp-action="Password">忘記密碼?</a>
                            </div>

                            <div class="d-flex align-items-center">
                                <button id="login-submit" type="submit" class="btn btn-light login-sp">登入</button>
                            </div>
                        </div>
                        <p class="or-p text-center">或者</p>
                        @*google登入按鈕*@
                        <div class="d-flex justify-content-center my-4">
                            <div id="g_id_onload"
                             data-client_id="824506292381-98hjid099dhp06oqudugbjlj1bclr0u0.apps.googleusercontent.com"
                             data-login_uri="@Url.Action("ValidGoogleLogin","Login")"
                             data-auto_prompt="false">
                            </div>
                            <div class="g_id_signin rounded-pill"
                             data-type="standard"
                             data-size="large"
                             data-theme="filled_black"
                             data-text="signin_with"
                             data-shape="circle"
                             data-logo_alignment="left"
                             data-auto_prompt="true"
                             style="border:1px solid white">
                            </div>
                        </div>



                        <div class="text-center re-a">
                            <a asp-controller="Login" asp-action="Register">還不是會員?</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>



    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <script>

        $('#login-submit').click(function(e) {
            e.preventDefault();
            var form = $(this).parents('form');

            if ($('input[type=email]').val() != '' && $('input[type=password]').val() != '') {



                $.get("Login/LoginCheck", { email: $('input[type=email]').val(), password: $('input[type=password]').val() }, function(data) {

                    if (data == "密碼錯誤") {
                        $('#password-err').html(data).css('color', '#ff0000')
                    } else if (data == "此Email不存在") {
                        $('#email-err').html(data).css('color', '#ff0000')
                    } else {
                        Swal.fire({
                            heightAuto: false,
                            position: 'center',
                            icon: 'success',
                            title: '登入成功',
                            showConfirmButton: false,
                            timer: 2500
                        }).then(function() {
                            form.submit();
                        })
                    }

                })

            } else {
                form.submit();
            }


        })

        //記住我判定
        var rmcheck = 1;

        $('#flexSwitchCheckChecked').click(function() {
            if (rmcheck == 1) {
                $(this).attr('value', false);
                rmcheck = 0;
            } else {
                $(this).attr('value', true);
                rmcheck = 1;
            }
        })



    </script>

}