@{
    ViewData["Title"] = "重置密碼";
}

@section Styles{
    <link href="~/css/resetpassword.css" rel="stylesheet" />
}

    <div class="h-100 d-flex justify-content-center reset-region">
        <div class="repassword text-center justify-content-center align-content-center">
            <div><i class="fa-2x fa-solid fa-key mb-4"></i></div>
            <h2 class="mb-3">設定新密碼</h2>
            <p class="mb-5">請設定一組新的密碼</p>
            <div class="p_group">
                <label for="p_id" class="d-block text-start">新密碼</label>
                <input type="password" id="p_id" />
                <div class="d-flex justify-content-start align-items-center" style="height:40px;">
                    <span class="text-danger" id="newspan"></span>
                </div>
                <label for="confirm_id" class="d-block text-start">確認密碼</label>
                <input type="password" id="confirm_id" />
                <div class="d-flex justify-content-start align-items-center" style="height:45px;">
                    <span class="text-danger" id="confirmspan"></span>
                </div>
            </div>
            <div><button class="btn btn_repassword" id="reset_btn">重設密碼</button></div>
            <a asp-controller="Login" asp-action="Index" class="return d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-arrow-left"></i>
                <p class="m-0 ms-2">返回登入</p>
            </a>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>

        var url = location.href;
        var ary1 = url.split('=');

        $('#reset_btn').click(function() {
            $('#confirmspan').text("")

            if ($('#p_id').val() == '' || $('#confirm_id').val() == '') {

                if ($('#p_id').val() == '') {
                    $('#newspan').text("請輸入新密碼")
                }
                if ($('#confirm_id').val() == '') {
                    $('#confirmspan').text("請輸入確認密碼")
                }

                return;
            }

            if ($('#p_id').val().length > 5 && $('#p_id').val().length < 11) {
                if ($('#p_id').val() == $('#confirm_id').val()) {
                    $.get("@Url.Action("DoPwdReset", "Login")", { email: ary1[1], password: $(p_id).val() }, function(data) {
                        if (data == "修改完成") {
                            Swal.fire({
                                heightAuto: false,
                                position: 'center',
                                icon: 'success',
                                title: '密碼重設成功',
                                showConfirmButton: false,
                                timer: 2500
                            }).then(function() {
                                window.location.href = "/Login"
                            })
                        }
                    })
                } else {
                    $('#confirmspan').text("兩次輸入密碼不一致")

                }
            }

        })

        $('#confirm_id').keyup(function() {
            $('#confirmspan').text("")
        })

        $('#p_id').keyup(function() {
            $('#newspan').text("")
            if ($('#p_id').val().length < 6 || $('#p_id').val().length > 10) {
                $('#newspan').text("密碼必須是6-10位")
            }
        })



    </script>
