* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #171b20;
    background-image: radial-gradient(rgb(27, 39, 53) 0%, rgb(0, 0, 0) 100%);
    height: 100%;
    color: white;
}

.reset-region{
    font-size:20px;
}

.repassword {
    margin-top: 7%;
    width: 25%;
    height: 25%;
}

.p_group input {
    height: 50px;
    width: 100%;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    border: 2px rgb(255, 255, 255) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn_repassword {
    height: 60px;
    width: 100%;
    font-size: 22px;
    color: white;
    border-radius: 25px;
    padding: 1rem;
    border: 2px rgb(115, 244, 222) solid;
    box-shadow: 0 0 3rem rgba(134, 171, 190, 0.5) inset;
    background: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .btn_repassword:hover {
        background-color: rgba(115, 244, 222, .2);
    }


.return {
    text-decoration: none;
    color: white;
    margin-top: 10%;
}

    .return:hover {
        text-decoration: none;
        color: white;
        font-size: 20px;
        text-shadow: 0 0 1px white,0 0 3px white,0 0 5px white,0 0 7px white;
    }
